.container {
    padding-left: 100px;
    padding-right: 100px; 
    padding-top: 50px; 
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
}



button {
    font-size: 16px;
}

.toolbar_tables {
    background-color: #a58ee5f5;
}
  
.body_div {
  border-radius: 5px;
  border: 2px solid #333;
  margin-bottom: 30px;
}

.buttons {
    display: grid;
    place-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }