<app-navbar></app-navbar>
<div class="container">
  <div class="body_div">
    <mat-toolbar class="toolbar_images">
      <mat-toolbar-row>
        <span>Lista de Imagenes</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-card>
      <div class="buttons">
        <button mat-fab extended color="accent" (click)="onAddImage()">
        <mat-icon>add</mat-icon>
        Añadir imagen
      </button>
      </div>
      <mat-card-content>
        
        <app-lista-imagenes></app-lista-imagenes>


      </mat-card-content>
    </mat-card>
  </div>
</div>