<h2 mat-dialog-title>{{ operacionTitulo }}Usuario</h2>

<form [formGroup]="form" (ngSubmit)="submitAddEditPersona()" >
    <mat-dialog-content>

        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input 
                        matInput 
                        placeholder="Ingrese Nombre" 
                        autocomplete="off"
                        formControlName="nombre"
                    >
                </mat-form-field>

                <div class="error">
                    <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
                        El nombre es un campo <strong>requerido</strong>.
                    </span>
                </div>
            </div>

            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Apellido</mat-label>
                    <input 
                        matInput 
                        placeholder="Ingrese Apellido" 
                        autocomplete="off"
                        formControlName="apellido"
                    >
                </mat-form-field>

                <div class="error">
                    <span *ngIf="form.get('apellido')?.hasError('required') && form.get('apellido')?.touched">
                        El apellido es un campo <strong>requerido</strong>.
                    </span>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input 
                        matInput 
                        placeholder="Ingrese Correo" 
                        autocomplete="off"
                        formControlName="email"
                    >
                </mat-form-field>

                <div class="error">
                    <span *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
                        El email es un campo <strong>requerido</strong>.
                    </span>
                    <span *ngIf="form.get('email')?.hasError('email')">
                        El email es <strong>inválido</strong>.
                    </span>
                </div>
            </div>            
        </div>
        <br>
        <div class="row">
            <div class="column">
                <mat-form-field>
                    <mat-label>Cargo</mat-label>
                    <mat-select formControlName="cargo" >
                        <mat-option *ngFor="let item of cargo" [value]="item">
                            {{ item }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input 
                        matInput 
                        placeholder="Ingrese la contraseña" 
                        autocomplete="off"
                        formControlName="password"
                    >
                </mat-form-field>
                
                <div class="error">
                    <span *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
                        La contraseña es un campo <strong>requerido</strong>.
                    </span>
                    <span *ngIf="form.get('password')?.hasError('minlength')">
                        El email debe tener mínimo ocho caracteres.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field class="example-full-width">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input
                        matInput 
                        [matDatepicker]="picker"
                        formControlName="fechaNacimiento"
                        [max]="maxDate"
                    >
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>

                <div class="error">
                    <span *ngIf="form.get('fechaNacimiento')?.hasError('required') && form.get('fechaNacimiento')?.touched">
                        La fecha de nacimiento es un campo <strong>requerido</strong>.
                    </span>
                </div>
            </div>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button type="button" (click)="cancelarBoton()" mat-button color="primary">Cancelar</button>
        <button type="submit" (click)="submitAddEditPersona()" mat-raised-button color="primary" >Aceptar</button>
    </mat-dialog-actions>

</form>