<h2 mat-dialog-title>Agregar Usuario</h2>

<form [formGroup]="form" (ngSubmit)="submitAddEditPersona()">
    <mat-dialog-content>

        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Ingrese Nombre" autocomplete="off" formControlName="NOMBRE">
                </mat-form-field>

                <div class="error">
                    <span *ngIf="form.get('NOMBRE')?.hasError('required') && form.get('NOMBRE')?.touched">
                        El nombre es un campo <strong>requerido</strong>.
                    </span>
                </div>
            </div>

            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Apellido</mat-label>
                    <input matInput placeholder="Ingrese Apellido" autocomplete="off" formControlName="APELLIDO">
                </mat-form-field>

                <div class="error">
                    <span *ngIf="form.get('APELLIDO')?.hasError('required') && form.get('APELLIDO')?.touched">
                        El apellido es un campo <strong>requerido</strong>.
                    </span>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ingrese Correo" autocomplete="off" formControlName="EMAIL">
                </mat-form-field>

                <div class="error">
                    <span *ngIf="form.get('EMAIL')?.hasError('required') && form.get('EMAIL')?.touched">
                        El email es un campo <strong>requerido</strong>.
                    </span>
                    <span *ngIf="form.get('EMAIL')?.hasError('email')">
                        El email es <strong>inválido</strong>.
                    </span>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="column">
                <mat-form-field formControlName="CARGO">

                    <mat-label>Cargo</mat-label>

                            <input 
                                type="text" 
                                placeholder="Ex. Gerente"
                                matInput
                                aria-label="Cargo"
                                [matAutocomplete]="auto"
                                formControlName="CARGO"
                            >

                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let item of filteredOptions" [value]="item">
                                    {{ item }}
                                </mat-option>
                            </mat-autocomplete>
                
                    

                </mat-form-field>
            </div>

            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Ingrese la contraseña" autocomplete="off" formControlName="PASSWORD">
                </mat-form-field>

                <div class="error">
                    <span *ngIf="form.get('PASSWORD')?.hasError('required') && form.get('PASSWORD')?.touched">
                        La contraseña es un campo <strong>requerido</strong>.
                    </span>
                    <span *ngIf="form.get('PASSWORD')?.hasError('minlength')">
                        La contraseña debe tener mínimo ocho caracteres.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field class="example-full-width">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="FECHA_NACIMIENTO" [max]="maxDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>

                <div class="error">
                    <span
                        *ngIf="form.get('FECHA_NACIMIENTO')?.hasError('required') && form.get('FECHA_NACIMIENTO')?.touched">
                        La fecha de nacimiento es un campo <strong>requerido</strong>.
                    </span>
                </div>
            </div>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button type="button" (click)="cancelarBoton()" mat-button color="primary">Cancelar</button>
        <button type="submit" cdkFocusInitial mat-raised-button color="primary">Aceptar</button>
    </mat-dialog-actions>

</form>