<mat-toolbar  color="primary">
    <span>Steven Angel - Prueba</span>
    <span class="example-spacer"></span>

    <button class="mat-button" mat-button [routerLinkActive]="'active'" routerLink="/users">CRUD Usuarios</button>
    <button class="mat-button" mat-button [routerLinkActive]="'active'" routerLink="/images">Imagenes</button>
    <button class="mat-button" mat-button [routerLinkActive]="'active'" routerLink="/converter">Convertidor</button>
    <span class="example-spacer"></span>

    <button mat-fab extended color="accent" (click)="logoutUser()">
      <mat-icon>logout</mat-icon>
      LogOut
    </button>

  </mat-toolbar>